<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <!-- Servlets -->
    <servlet>
        <servlet-name>simulationService</servlet-name>
        <servlet-class>uni.oldenburg.server.service.SimulationServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrationService</servlet-name>
        <servlet-class>uni.oldenburg.server.service.RegistrationAndLoginServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sessionInformationService</servlet-name>
        <servlet-class>uni.oldenburg.server.service.SessionInformationServiceImpl</servlet-class>
    </servlet>
   <servlet>
      <servlet-name>loggingService</servlet-name>
      <servlet-class>uni.oldenburg.server.service.LoggingServiceImpl</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>agentPlatformService</servlet-name>
      <servlet-class>uni.oldenburg.server.service.AgentPlatformServiceImpl</servlet-class>
   </servlet>
   <servlet>
		<servlet-name>eventServiceImpl</servlet-name>
		<servlet-class>de.novanic.eventservice.service.EventServiceImpl</servlet-class>
	</servlet>

   <servlet-mapping>
      <servlet-name>loggingService</servlet-name>
      <url-pattern>/simulation/loggingService</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
        <servlet-name>simulationService</servlet-name>
        <url-pattern>/simulation/simulationsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrationService</servlet-name>
        <url-pattern>/simulation/registrationService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionInformationService</servlet-name>
        <url-pattern>/simulation/sessionInformationService</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
      <servlet-name>agentPlatformService</servlet-name>
      <url-pattern>/simulation/agentPlatformService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
		<servlet-name>eventServiceImpl</servlet-name>
		<url-pattern>/simulation/gwteventservice</url-pattern>
	</servlet-mapping>

   <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>simulation.html</welcome-file>
    </welcome-file-list>

</web-app>
