<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <!-- Servlets -->
    <servlet>
        <servlet-name>simulationService</servlet-name>
        <servlet-class>uni.oldenburg.server.service.SimulationServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrationService</servlet-name>
        <servlet-class>uni.oldenburg.server.service.RegistrationAndLoginServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sessionInformationService</servlet-name>
        <servlet-class>uni.oldenburg.server.service.SessionInformationServiceImpl</servlet-class>
    </servlet>

   <servlet>
      <servlet-name>remoteLogging</servlet-name>
      <servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
   </servlet>


   <servlet-mapping>
      <servlet-name>remoteLogging</servlet-name>
      <url-pattern>/simulation/remote_logging</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
        <servlet-name>simulationService</servlet-name>
        <url-pattern>/simulation/simulationsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrationService</servlet-name>
        <url-pattern>/simulation/registrationService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionInformationService</servlet-name>
        <url-pattern>/simulation/sessionInformationService</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>simulation.html</welcome-file>
    </welcome-file-list>

</web-app>
